# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Flask
instance/
.webassets-cache
*.db

# Virtual Environment
venv/
env/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Environment variables
.env
.env.*

# Logs
*.log
logs/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
.terraformrc
terraform.rc

# Azure
.azure/

.cursorrules

infra/.terraform/
infra/*.tfstate
infra/*.tfstate.backup

HttpTrigger/local.settings.json
HttpTrigger/function.json


infra/.terraform/
*.tfstate
*.tfstate.backup
